h2{
  font-weight:900;
}

.list{
  width:98vw;
  border:solid 2px black;
  border-radius:25px;
  margin-left:1vw;
  margin-bottom:2px;
}
.taxi-sightseening-section{
  width:98vw;
}
.sight-item{
  display:flex;
  flex-direction: column;
}
.sight-img{
  margin-left:10vw;
  width:80vw;
  border-radius:25px;
}