*{
  box-sizing:border-box;
  
}
html,body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  background-color:white;
  font-family:sans-serif;
}



.content{
  color:black;
  margin-top:-15px;
}
/*.toggle-header:nth-child(1){
    font-size:30px;
    text-align:center;
    font-weight:900;
    color:orange;
}*/
.paragraph{
  color:black;
  text-decoration:none;
}

#hero{
  color: #000;
  width:98vw;
  margin-left:1vw;
  border-style:solid;
  border-radius:30px;
  padding-bottom:3%;
}
.taxi-packages{
  width:98vw;
  margin-left:1vw;
  border:solid black;
  border-radius:25px;
}
hr{
    color:green;
    width:90%;
    border-color:yellowgreen;
}
h3{
    text-decoration-line:underline;
    font-weight:1000;
    font-size:21px;
    text-align:center;
}
  .list{
    margin-left:4.5px;
    padding-bottom:5px;
    margin-top:1%;
    width:98%;
    border:solid black;
    border-radius:28px;
    color:black;
  }
  a{
    gap:5px;
    font-size:23px;
    text-decoration:none;
    display:block;
    margin-left:8px;
    color: black;
    font-weight:900;
  }
  p{
    font-size:20px;
    text-align:start;
    margin-left:5px;
    font-weight:1000;
    color:silver;
  }
  .list-imgs{
    width:98vw;
    height:70vh;
    object-fit: contain;
}
  .list-para{
    color:black;
    font-weight:1000;
  }
     /*.toggle-header{
     color:#42445A;
     cursor:pointer;
     font-weight:900;
   }
  /* .toggle-content {
     text-align:center;
     cursor l:pointer;
     display:none;
     color: black;
   }
   .hidden-keyword {
     text-align:center;
     
   }
*/
.days,.our-service{
    border-radius:28px;
}
