
html,body{
 /* background-image:url("/MUNNAR/1727178567582.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
  width:100vw;
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color:white;
}

.escape-tourisms{
  margin-top:25%;
  color:orange;
  font-weight:900;
  text-align:center;
  font-size:35px;
  text-decoration:underline;
  text-decoration-color:black;
}
.first-para{
  text-align:center;
}
.a-box{
  text-align:center;
}
.a-call{
  text-decoration:none;
  text-decoration-skip-ink:auto;
  font-size:21px;
}
.content{
  width:98vw;
  margin-left:;
  margin-top:;
  border-radius:28px;
  //overflow-y: auto;
  //overflow-x:hidden;
  background-repeat: no-repeat;
  /*scroll-snap-type:y mandatory;*/ 
  //display:flex;
  //flex-direction: column;
}
/*.box0{
  margin-top:5%;
  width:98vw;
}
  .img{
    width: 98vw;
    border-radius: 28px;
    position: relative;
  }
  .main-img{
    width:98vw;
    margin-left:1vw;
    object-fit:cover;
    border-radius:28px;

  }
.headline{
      position:absolute;
      color:white;
      z-index:0;
      left:15px;
      bottom:3%;
      margin-bottom:;
      top:;
      font-size:35px;
    }
  .galary-btn{
    position: absolute;
    border-radius:28px;
    background-color:#111111B5;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    top:1%;
    right:1%;
    width:30vw;
    height:5vh;
    font-size:25px;
    color:yellowgreen;
  }
/* photos default hidden + smooth open/close */
.box{
  margin-top:5%;
}
.photo{
  width:98vw;
  position:relative;
  margin-left:1vw;
}
.name{
  position:absolute;
  color:white;
  top:-5%;
  left:1%;
  font-weight:900;
  font-size:30px;
}
.main-photo{
  width:98vw;
  border-radius:18px;
  border-style:solid;
  border-color:orange;
  border-width:1px;
}
.galary-button{
  position:absolute;
  bottom:1.5%;
  right:0.5%;
  font-size:30px;
  background-color:#00000061;
  color:white;
  border-color:#FFF8F8;
  border-radius:30px;
}
.photos{
  position:relative;
  width:98vw;
}

.close-btn{
  display:none;
  position:absolute;
  right:1%;
  top:0.0px;
  z-index:1;
  color:red;
  border:none;
  background-color:transparent;
  font-size:70px;
}
.right,.left{
  display:none;
  position:absolute;
  top:28vh;
  z-index:1;
  color:white;
  border:none;
  border-radius:20px;
  background-color:#2626264F;
  font-size:50px;
  
}
.left{
  left:1px;
}
.right{
  right:1px;
}
.galary{
  background-color: #262626AD;
  position:absolute;
  display:none;
  flex-direction:row;
  align-items:center;
  top:0px;
  left:5vw;
  width:100vw;
  overflow:auto;
  
}
.images{
  width:100vw;
}
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);  /* blur effect */
  background-color: rgba(0, 0, 0, 0.5); /* slightly dim */
  z-index: 998;
  display: none;
}

/* Center gallery on screen above overlay */
.galary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
}

/* Center vertical left and right buttons near gallery edges */
.left, .right {
  position: fixed;
  top: 80%;
  transform: translateY(-50%);
  font-size: 50px;
  background-color: rgba(38, 38, 38, 0.3);
  color: white;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
  z-index: 1000;
  display: none;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

/* Close button top right on gallery */
.close-btn {
  position:fixed;
  top:15%;
  right: 10px;
  font-size: 70px;
  color:red;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.box1,.box2,.box3,.box4,.box5{
  width:98vw;
}
 .box1,.box2,.box3,.box4,.box5{
      background-color:silver;
      border-radius:18px;
      margin-left:1vw;
      text-align:center;
      padding-bottom:2%;
      margin-top:;
      gap:5px;
    }

    h3{
      color:lightyellow;
      font-size:30px;
      margin-left:10px;
      margin-top:8px;
      text-shadow:5px 5px 5px black;
      text-align:start;
    }
 




@keyframes scroll{
  from{
    opacity:.0;
    scale:0.3;
  }
  to{
    scale:1;
  }
}

/*.box0:nth-child(2),.box0:nth-child(3),.box0.box0:nth-child(4),.box0:nth-child(5){
  scroll-snap-align:start;
  animation: scroll linear alternate;
  animation-timeline:view();
  animation-range: entry 0 cover 5%;
  /*transition: transform 0.5s ease-in-out;*/
 }

  

  



    /*p{
      text-align:start;
      margin-left:5px;
      margin-right:5px;
      text-shadow:none;
      margin-top:-10px;
      font-size:25px;
      font-weight:900;
    }*/
    /*{
      font-size:25px;
      margin-left:10px;
      margin-top:8px;
      text-shadow:5px 5px 5px black;
    }*/

 }
 .box3,.box1,.box2,.box4{
   box-shadow:5px 5px 10px black;
   .toggle-header{
     cursor:pointer;
   }
   .toggle-content {
     cursor l:pointer;
     display:none;
   }

 }
 .toggle-content{
   display:none;
 }
.hidden-keyword {
  visibility:none;
     
   }
.toggle-header:hover.hidden-keyword,
.toggle-header:focus-within.hidden-keyword,.toggle-header:hover h4,
   .toggle-header:focus-within h4{
     visibility: visible;
   }
 

